
<h1>Forgot Password</h1>

<form asp-controller="account" asp-action="ForgotPassword" method="post">
    <div class="form-group">
        <label class="col-sm-2 col-form-label">Email</label>
        <input type="email" name="Email" class="form-control" />
    </div>

       

   
    <button class="btn btn-primary mt-3" type="submit">Login</button>
</form>
