


<div class="card mb-3">
    <div class="card-body">
        <div class="row g-0">
            <div class="col-md-7">
                <img src="~/Img/@Model.ImageUrl" class="img-fluid rounded-start" />
            </div>
            <div class="col-md-5">
                <h5 class="card-title">@Model.Name</h5>
                <h3>@Model.Price.ToString("C")₺</h3>
                <p class="card-text"> @Html.Raw(Model.Description)</p>
                <a href="#" class="btn btn-primary">Add to Cart</a>
            </div>
        </div>
    </div>
</div>
