<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ShopApp.WebUI</title>
    <script src="https://kit.fontawesome.com/117a0da7a9.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <script src="https://cdn.ckeditor.com/ckeditor5/36.0.1/classic/ckeditor.js"></script>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/ShopApp.WebUI.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <partial name="_navbar" />
    </header>

    <main role="main" class="pb-3">
        <div class="container mt-4 mb-3">
            @if (TempData["message"] != null)
            {
                var message = TempData.Get<ShopApp.WebUI.Models.AlertMessage>("message");
                if (message != null)
                {
                    <partial name="_ResultMessages" model="message" />
                }
            }
                    @RenderBody()
        </div>
    </main>


    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - ShopApp.WebUI - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>