@page
@model ShopApp.WebUI.Views.Shared._noproductModel
@{
  <div class "row">
    <div class="col-md-12">
        <div class="alert alert-danger">
            No products found
        </div>
        </div>
    </div>
}
