@model Product

<div class="card mb-5">
    <img src="~/Img/@Model.ImageUrl" class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title
                                                                    ">
            @Model.Name
        </h5>
        <small class="text-muted">
            <i class="fas fa-lira-sign"></i> @Model.Price
            </small>
       <div class="card-footer text-center">
            <a asp-controller="shop" asp-action="Details" asp-route-url="@Model.Url" class="btn btn-primary">Details</a>
            @if(User.Identity.IsAuthenticated)
            {
                <form asp-controller="Cart" asp-action="AddToCart" style="display:inline" method="post">
                    <input type="hidden" name="productId" value="@Model.ProductId" />
                    <input type="number" name="quantity" value="1" />
                    <button type="submit" class="btn btn-primary">Add To Cart</button>
                </form>
            }
            
       </div>
    </div>
</div>

